@font-face {
	font-family: 'UTMNeutra';
	src: url('./font/UTMNeutra.ttf');
	src: local('UTMNeutra'), url('./font/UTMNeutra.woff') format('woff'), url('./font/UTMNeutra.ttf') format('truetype');
}

#root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
	font-family: 'UTMNeutra' !important;
}

.pageWrapper{
  width: 100%;
  height: 100%;
  /* min-width: 1000px;
  min-height: 1000px; */
  background-image: url("./assets/background.svg");
  background-color: aqua;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* padding: 40px 100px; */
}

.containerBox{
  /* background-color: red; */
  width: 50%;
  height: 80%;
  /* min-width: 600px;
  min-height: 600px; */
  padding: 15px 35px;
  background: rgba( 255, 255, 255, 0.9 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 3px );
  -webkit-backdrop-filter: blur( 3px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#logoBox{
  width: 100%;
  height: 100px;
  /* background-color: #fff; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#logoBox > .img{
  width: 100px;
  height: 100px;
}

.spanBlue{
  color: rgb(25, 102, 217);
}

.spanRed{
  color:rgba(233, 18, 18, 0.734)
}

#logoBoxTypography{
  font-size: 32px;
}

#footerBox{
  display: flex;
  /* background-color: black; */
  justify-content: center;
  align-items: center;
}

#mainBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

.boxInput{
  height: 55px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#boxInputButton{
  height: 100%;
}

.boxSettings{
  height: 55px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#boxSettingsButton{
  width: 101px;
}